<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jy.base.mapper.DataStatisticsMapper">
  <resultMap id="BaseResultMap" type="org.jy.base.model.DataStatistics">
    <id column="id" property="id"/>
    <result column="count_date" property="countDate"/>
    <result column="count_type" property="countType"/>
    <result column="total_count" property="totalCount"/>
    <result column="intraday_count" property="intradayCount"/>
    <result column="remark" property="remark"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
  </resultMap>
  <select id="getTotal" resultType="java.lang.Integer" parameterType="java.lang.String">
      SELECT COUNT(1) FROM `data_statistics`
  </select>
</mapper>